#hamburger {
  --transition: all 700ms linear;
  --animation-duration: 550ms;
  --icon-width: 100%;
  --icon-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  width: var(--icon-width);
  height: var(--icon-height);
  padding: 0.2rem;
}

#hamburgerTop,
#hamburgerMiddle,
#hamburgerBottom {
  --slice-width: var(--icon-width);
  --slice-height: calc(var(--icon-width) / 4);
  width: var(--slice-width);
  height: var(--slice-height);
  background: #fffff4;
  border-radius: var(--slice-height);
  transition: var(--transition);
  animation-fill-mode: both;
  animation-duration: var(--animation-duration);
}

#hamburgerMiddle {
  transform: translate(0, 0);
}

#hamburgerBottom {
  transform: translate(0, 0);
}

#hamburger.opened #hamburgerTop {
  animation-name: hamburgerTopOpen;
}

#hamburger.closed #hamburgerTop {
  animation-name: hamburgerTopClose;
}

#hamburger.opened #hamburgerMiddle {
  animation-name: hamburgerMiddleOpen;
}

#hamburger.closed #hamburgerMiddle {
  animation-name: hamburgerMiddleClose;
}

#hamburger.opened #hamburgerBottom {
  animation-name: hamburgerBottomOpen;
}

#hamburger.closed #hamburgerBottom {
  animation-name: hamburgerBottomClose;
}

@keyframes hamburgerTopOpen {
  from {
    transform: translate(0, 0) rotate(0);
  }
  50% {
    transform: translate(0, 150%) rotate(0);
  }
  to {
    transform: translate(0, 150%) rotate(45deg);
  }
}
@keyframes hamburgerTopClose {
  from {
    transform: translate(0, 150%) rotate(45deg);
  }
  50% {
    transform: translate(0, 150%) rotate(0);
  }
  to {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes hamburgerMiddleOpen {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes hamburgerMiddleClose {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hamburgerBottomOpen {
  from {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, -150%);
  }
  to {
    transform: translate(0, -150%) rotate(135deg);
  }
}
@keyframes hamburgerBottomClose {
  from {
    transform: translate(0, -150%) rotate(135deg);
  }
  50% {
    transform: translate(0, -150%);
  }
  to {
    transform: translate(0, 0);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  font-size: 10px;
}

body {
  background-color: gray;
  color: #333333;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

abbr {
  text-decoration: none;
}

a.externalLink::after {
  content: url(../../images/external-link-alt.svg);
  display: inline-block;
  width: 1.3rem;
  margin: 0 0.3rem 0 0.3rem;
}

#pageHeaderSection {
  --headerHeight: 8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  height: var(--headerHeight);
  background-color: #333333;
  font-family: "Source Code Pro", monospace;
  background-image: url(../../images/html5.svg), url(../../images/css3-alt.svg), url(../../images/ts-logo.svg), url(../../images/angular.svg);
  background-repeat: no-repeat;
  background-size: 20%, 15%, 10%, 7%;
  background-position: 15vw, 40vw, 60vw, 75vw;
}
#pageHeaderSection a {
  text-decoration: none;
  color: #fffff4;
}
#pageHeaderSection h1 {
  font-size: 1.8rem;
}
#pageHeaderSection #mainMenu {
  width: 2.5rem;
  height: 2rem;
  margin-left: auto;
}
#pageHeaderSection #mainMenu #navContainer {
  --main-menu-width: 25rem;
  pointer-events: none;
  position: absolute;
  top: var(--headerHeight);
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#pageHeaderSection #mainMenu #navContainer nav#menu {
  position: absolute;
  pointer-events: auto;
  width: var(--main-menu-width);
  right: calc(-1 * var(--main-menu-width));
  background-color: #646464;
  border-bottom-left-radius: 1rem;
  transition: all 300ms ease-in-out;
}
#pageHeaderSection #mainMenu #navContainer nav#menu ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  list-style-type: none;
}
#pageHeaderSection #mainMenu #navContainer nav#menu ul li {
  margin: 1rem 0;
}
#pageHeaderSection #mainMenu #navContainer nav#menu ul li a {
  display: inline-block;
  width: 100%;
}
#pageHeaderSection #mainMenu #navContainer nav#menu ul li#profiles {
  padding-top: 1.5rem;
  margin: 1.5rem 0 0;
  border-top: 1px solid black;
  font-weight: bold;
  font-size: 2rem;
}
#pageHeaderSection #mainMenu #navContainer nav#menu ul li#profiles ul {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}
#pageHeaderSection #mainMenu #navContainer nav#menu ul li#profiles ul li {
  margin: 0 1rem;
}
#pageHeaderSection #mainMenu #navContainer nav#menu.open {
  box-shadow: -2rem 2rem 3rem rgba(0, 0, 0, 0.75);
  right: 0;
}

#mainSection #portfolio {
  margin: 1rem;
}
#mainSection #portfolio li.portfolioItem {
  margin-top: 2rem;
  padding: 1rem;
  list-style-type: none;
  background-color: #d2e6e7;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 2px 2px 3px #333333;
}
#mainSection #portfolio li.portfolioItem img {
  max-width: 100%;
  max-height: 25%;
  object-fit: contain;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-shadow: 2px 2px 3px #333333, -2px 2px 3px #333333;
}
#mainSection #portfolio li.portfolioItem h2 {
  margin-top: 1rem;
}
#mainSection #portfolio li.portfolioItem p {
  margin-top: 1.5rem;
  line-height: 1.5;
}
#mainSection #portfolio li.portfolioItem .techLists {
  display: flex;
  margin-top: 1rem;
}
#mainSection #portfolio li.portfolioItem .techLists section {
  flex: 1;
  margin: 1rem;
}
#mainSection #portfolio li.portfolioItem .techLists ul {
  padding-left: 2rem;
  margin-top: 1rem;
  line-height: 1.4;
}
#mainSection #portfolio li.portfolioItem .techLists li {
  list-style-type: disc;
}

@media screen and (min-width: 760px) {
  #mainSection ul#portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    gap: 0.5rem;
  }
  #mainSection ul#portfolio li.portfolioItem {
    display: flex;
    flex-direction: column;
  }
  #mainSection ul#portfolio li.portfolioItem img {
    max-height: 50%;
  }
}
@media screen and (min-width: 1350px) {
  abbr {
    text-decoration: underline dotted #333333;
  }

  abbr:hover {
    cursor: help;
  }
}

/*# sourceMappingURL=main.css.map */
