$bg-primary: #5f6a72;
$bg-secondary: #333333;
$bg-menu: #4b4d52;
$bg-card: #c8fcea;

$text-header: #fffff4;
$text-primary: #333333;

// $switcher-dot-border: #333333;
// $switcher-dot-fill: #5f6a72;
$switcher-dot-border: #5f6a72;
$switcher-dot-fill: #333333;