@use 'theme';
@use 'hamburger';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  font-size: 10px;
}

body {
  background-color: theme.$bg-primary;
  color: theme.$text-primary;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

abbr {
  text-decoration: none;
}

a.externalLink::after {
  content: url(../../images/external-link-alt.svg);
  display: inline-block;
  width: 1.3rem;
  margin: 0 0.3rem 0 0.3rem;
}

//// Page Header section ////////////////////////////////////////////////


#pageHeaderSection {
  --headerHeight: 8rem;

  padding: 1rem;
  display: flex;
  align-items: center;
  height: var(--headerHeight);

  background-color: theme.$bg-secondary;
  font-family: 'Source Code Pro', monospace;

  background-image:
    url(../../images/html5.svg),
    url(../../images/css3-alt.svg),
    url(../../images/ts-logo.svg),
    url(../../images/angular.svg);
  background-repeat: no-repeat;
  background-size: 20%, 15%, 10%, 7%;
  background-position: 15vw, 40vw, 60vw, 75vw;

  a {
    text-decoration: none;
    color: theme.$text-header;
  }

  h1 {
    font-size: 1.8rem;
  }

  #mainMenu {
    width: 2.5rem;
    height: 2rem;
    margin-left: auto;

    // using _hamburger.scss partial for hamburger icon
    #navContainer {
      --main-menu-width: 25rem;

      pointer-events: none;
      position: absolute;
      top: var(--headerHeight);
      right: 0;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;

      nav#menu {
        position: absolute;

        pointer-events: auto;

        width: var(--main-menu-width);
        right: calc(-1 * var(--main-menu-width));

        background-color: theme.$bg-menu;
        border-bottom-left-radius: 1rem;
        transition: all 300ms ease-in-out;

        ul {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 1rem;

          list-style-type: none;

          li {
            margin: 1rem 0;

            a {
              display: inline-block;
              width: 100%;
            }
          }

          li#profiles {
            padding-top: 1.5rem;
            margin: 1.5rem 0 0;

            border-top: 1px solid black;
            font-weight: bold;
            font-size: 2rem;

            ul {
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0;
              list-style-type: none;

              li {
                margin: 0 1rem;
              }
            }
          }
        }
      }

      nav#menu.open {
        box-shadow: -2rem 2rem 3rem rgba(0, 0, 0, 0.75);
        right: 0;
      }
    }
  }
}

//// Main section /////////////////////////////////////////////////////////

#mainSection {
  #portfolio {
    margin: 1rem;

    li.portfolioItem {
      margin-top: 2rem;
      padding: 1rem;

      list-style-type: none;
      background-color: rgba(theme.$bg-card, 1);
      border: 2px solid black;
      border-radius: 1rem;
      box-shadow: 2px 2px 3px theme.$bg-secondary;

      img {
        max-width: 100%;
        max-height: 25%;
        object-fit: contain;

        border: 1px solid rgba(theme.$bg-secondary, 0.2);
        box-shadow:
          2px 2px 3px theme.$bg-secondary,
          -2px 2px 3px theme.$bg-secondary;
      }

      h2 {
        margin-top: 1rem;
      }

      p {
        margin-top: 1.5rem;

        line-height: 1.5;
      }

      .techLists {
        display: flex;
        margin-top: 1rem;

        section {
          flex: 1;
          margin: 1rem;
        }

        ul {
          padding-left: 2rem;
          margin-top: 1rem;

          line-height: 1.4;
        }

        li {
          list-style-type: disc;
        }
      }
    }
  }
}

//// Screen width >= 760 //////////////////////////////////////////

@media screen and (min-width: 760px) {
  #mainSection {
    ul#portfolio {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content;
      gap: 0.5rem;

      li.portfolioItem {
        display: flex;
        flex-direction: column;

        img {
          // flex: 1;
          max-height: 50%;
        }
      }
    }
  }
}

//// Screen width >= 1350 ////////////////////////////////////////

@media screen and (min-width: 1350px) {
  abbr {
    text-decoration: underline dotted rgb(51, 51, 51);
  }

  abbr:hover {
    cursor: help;
  }
}